*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: beige;
    width: 350px;
    height: 500px;
    border-radius: 25px;
}

.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}

#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 25px;
    overflow-y: scroll;
}

body {
    background-color: lightblue;
}

.footer_social{
    display: flex;
    justify-content:space-evenly;
    font-size: 40px;

}

.redes {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}



